[submodule "phys/noahmp"]
	path = phys/noahmp
	url = https://github.com/NCAR/noahmp
[submodule ".ci/hpc-workflows"]
	path = .ci/hpc-workflows
	url = https://github.com/islas/hpc-workflows
[submodule "phys/physics_mmm"]
	path = phys/physics_mmm
	url = https://github.com/NCAR/MMM-physics.git
[submodule "phys/MYNN-EDMF"]
	path = phys/MYNN-EDMF
	url = https://github.com/NCAR/MYNN-EDMF
[submodule "phys/MYNN-SFC"]
	path = phys/MYNN-SFC
	url = https://github.com/NCAR/MYNN-SFC.git
