##############################################################################
# This is the top-level .gitignore file for the WRF model                    #
#                                                                            #
# Filenames and wildcards added below will not be tracked by git in any      #
# directory in the repository                                                #
#                                                                            #
# Ignored file types should include executables, build-time temporary files, #
# and other files which should not ever be added to the code repository.     #
#                                                                            #
# USE CAUTION WHEN ADDING WILDCARDS, as some builds use different filename   #
# conventions than others                                                    #
##############################################################################
*.exe
*.o
*.mod
*.a
configure.wrf*
*.backup
*.f90

# Out-of-source build locations
_build*
wrf_config.cmake

# Executables when not featuring .exe suffix
ndown
real
tc
ideal
wrf

# Model inputs/outputs
wrfbdy_d*
wrfinput_d*
wrfout_d*
*.nc
rsl.out.*
rsl.error.*
*.log
